
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 

# Application Port - express server listens on this port (default 3000).
PORT=3000

# URL of the AskScript backend, including path
ASKSCRIPT_SERVER_URL="http://example.com:1234/askscript"
